<main>
    <div class="container offset-3">
        <div class="row">
            <div class="col-6">
                <form action="/edit" method="post" enctype="multipart/form-data">
                    <img src="/images/{{products.imagem}}" class="offset-3">

                    <input type="hidden" name="nameImage" value="{{products.imagem}}">
                    <input type="hidden" name="codigo" value="{{products.codigo}}">
                    <input type="text" name="nome" value="{{products.nome}}" class="form-control" placeholder="Nome do produto">
                    <input type="number" name="valor" value="{{products.valor}}" class="form-control" placeholder="Valor do produto">
                    <input type="file" name="imagem" class="form-control">
                    <input type="submit" class="btn btn-primary" value="Editar">
                    <a href="/" class="btn btn-secondary cancel">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</main>
